* {
  font-family: sans-serif; 
}

body {
  display: flex;
  flex-direction: column;
  margin:0;
}

header {
  color: whitesmoke; 
  font-size: 6em;
  background-color:rgb(7, 98, 189);
  text-align: center;
  font-weight: bold;
  margin-top: 4rem;
}
nav {
  flex: flex;
  padding: 0;
}
nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  width: 100%;
  background: indigo;
  padding-left: 0;
  margin: 0;
  position: fixed;
  top: 0;
}

nav a {
  display: flex;
  text-decoration: none;
  font-size: 2em;
  padding: 1rem 1rem;
  text-align: center;
  color:whitesmoke;  
}
li{
  border-right: 2px solid  rgb(123, 41, 182)#bbb;
}

li a:hover {
  background-color: rgb(123, 41, 182);
}

/********Sub headers********/

h1, h2 {
  display: inline-block;
  font-weight: bold;
  background-color: lightblue;
  font-size: 2em;
}

/********Cards CSS********/

.card-row {
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  padding-block: 4rem ;
  align-items: center;    
}

.card {
  width: 20%;
  background: lightgrey;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  padding:20px 10px;
  border-radius: 50%;
  border-width: 2px;
}
.card-header {
  text-align: center;
}

/********Main********/

main {
  margin: 140px;
  margin-top: 30px;
}

p, ol{
  line-height: 1.5;
  max-width: 95ch;
}

/********Gallery********/



/********Footer********/

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: indigo;
  color: whitesmoke;
}